.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #FF8C00;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header .logo h1 {
  font-size: 24px;
  display: inline-block;
}

header nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 40px 20px;
  max-width: 600px;
  margin: auto;
}

.upload-section, .result-section {
  background-color: #FF8C00;
  color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.upload-section h2, .result-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.upload-section p, .result-section p {
  font-size: 18px;
}

.upload-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-bar input[type="file"], .upload-bar select, .upload-bar button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.upload-bar button {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.upload-bar button:hover {
  background-color: #222;
}

audio {
  width: 100%;
  margin-top: 15px;
}

